html {
  height: 100%;
}

body {
  background: rgb(255, 255, 255);
  height: 100%;
  display: block;
  background: no-repeat center center fixed;
  background-image: url(wood.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 0 0 10px 320px;
}

#canvasContainer {
  position: absolute;
  top: 315px;
  left: 240px;
}

#cover {
  background: rgba(255, 255, 255, 1);
  margin: 0 auto;
  display: block;
  margin-top: -300px;
  margin-left: -225px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
  border: 0px;
  border-style: dashed;
  border-color: #a0a0a0;
  width: 300px;
  height: 400px;
}

canvas {
  background: rgba(255, 255, 255, 1);
}

img.thumb {
  width: 108px;
  height: 142px;
  margin: 0.5em;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
  border: 4px;
  outline: 1px solid #D1D1D1;
  border-style: solid;
  border-color: #FFFFFF;
  float: left;
}

form {
  position: absolute;
  top: 440px;
  left: 15px;
}

label {
  font-family: Enriqueta;
  font-size: 90%;
  float: left;
  clear: both;
  width: 300px;
  height: 2em;
  color: #FF9000;
}

.caption {
  font-family: EnriquetaBold;
  font-size: 90%;
  float: left;
  clear: both;
  width: 300px;
  height: 2em;
  color: #FF9000;
}

.grey {
  font-family: Enriqueta;
  font-size: 90%;
  float: left;
  clear: both;
  width: 300px;
  height: 2em;
  color: #E6E6E6;
}

.orange {
  font-family: Enriqueta;
  font-size: 90%;
  float: left;
  clear: both;
  width: 300px;
  height: 2em;
  color: #FF9000;
}

label input[type='text'] {
  margin-left: 1em;
  margin-top: -0.25em;
  float: right;
  width: 18em;
  border: none;
  padding: 0.3em 0.2em;
}
label input[type='checkbox'], label input[type='button'], label select {
  margin-left: 1em;
  margin-top: -0.25em;
  float: right;
}
